version: '3'

services:
  db:
    restart: always
    image: postgres:latest
    ports:
      - 5432:5432
    environment:
      - POSTGRES_HOST_AUTH_METHOD=trust
    volumes:
      - pgdata:/var/lib/postgresql/data/

  web:
    restart: always
    image: {{ IMAGE_APP }}
    command: /usr/local/bin/gunicorn Blog.wsgi:application -w 2 -b :8000
    depends_on:
      - db

  nginx:
    restart: always
    image: {{ IMAGE_NGINX }}
    ports:
      - {{ PORT }}:8000
    depends_on:
      - web

volumes:
  pgdata:

